.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-wrraper {
  height: 100%;
}

.words {
  display: flex;
  flex-direction: column;
  height: calc(100% - 250px);
  overflow: scroll;
  margin: 20px 0;
}

.word {
  display: flex;
}

.rank {
  margin-left: 20px;
}

.rank-stars {
  color: yellow;
}
